<head>
  <!-- meta -->
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>帮助孩子快乐学习，健康成长</title>
  <style media="screen">
    *{margin: 0;padding: 0;}
    .nav{background-color: black;color:gray}
    .nav h2{display: inline-block;margin-left: 50px;}
    .nav h3{display: inline-block;margin-left: 40px;}
    .nav ul{list-style: none;display: inline-block;margin-left: 300px}
    .nav li{display: inline-block;width: 120px;text-align: center;line-height: 50px}
    .nav li:hover{color: white}

  </style>
</head>
