<%- partial('./head') %>

<div id='content'>

  <% if(typeof(error) !== 'undefined' && error){ %>
  <div class='info'>
    <p><%= error %></p>
  </div>
  <% } %>

  <div class='be-center box-border add-padding text-center register-box'>
    <h2 style="color:rgb(13,135,122);">用户注册</h2>
    <form id='signup_form' class='form-horizontal' action='/signup' method='post'>
      <input class='input-xlarge box-border input-box' id='id' name='id' size='30' type='text' placeholder="用户名" /><br>
      <input class='input-xlarge box-border input-box' id='pass' name='pass' size='30' type='password'placeholder="密码" /><br>
      <input class='input-xlarge box-border input-box' id='re_pass' name='re_pass' size='30' type='password' placeholder="确认密码" /><br>
      <input class='input-xlarge box-border input-box' id='stu_id' name='stu_id' size='30' type='text' placeholder="学生学号" />
      <br>
      <input type='submit' class='btn' value='注册'/>
      <div class='btn' style="display:inline-block;">
        <a href='/signin' style="font-size:12px;line-height:30px">去登录</a>
      </div>
    </form>
  </div>

</div>
