<%- partial('./menu') %>
<div class="wrapper">
  <h2 class="check-head">该问题的回复：</h2>
  <ul class="info-ul">

    <% for(var i = 0; i < answers.length; i++) { %>
    <li class="clearfix">
      <div class="clearfix">
        <span class="info-title"><%= answers[i].create_p_id %></span>
        <span class="info-time"><%= answers[i].date.toDateString() %></span>
      </div>
      <div class="info-panel">
        <%= answers[i].content %>
      </div>
    </li>
    <% } %>
  </ul>
  <button type="button" name="button" class="btn js-btn">回复</button>
  <br>
  <br>
  <div class="question-panel">
    <form class="my-question" action="/home/bbs/addAnswer" method="post">
      <textarea name="content"class="state-box"></textarea>
      <input type="submit" name="name" class="btn js-submit "value="确认提交" style="position:relative;top:-18px;">
    </form>
    <button type="button" name="button" class="close-btn js-close btn">取消</button>
  </div>
</div>
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js" charset="utf-8"></script>
<script type="text/javascript">
$(function(){
  $(".js-btn").click(function(){
    $(".question-panel").show();
    $(".js-btn").addClass("disabled-btn");
  })
  $(".js-submit").click(function(){
    $(".question-panel").hide();
    $(".js-btn").removeClass("disabled-btn");
  })
  $(".js-close").click(function(){
    $(".question-panel").hide();
    $(".js-btn").removeClass("disabled-btn");
  })
})
</script>
