<%- partial('./menu') %>
<div class="wrapper">
  <h2 class="check-head">消息通知栏</h2>
  <ul class="info-ul">

    <% for(var i = 0; i < informations.length; i++) { %>
    <li class="clearfix">
      <div class="clearfix">
        <span class="info-title"><%= informations[i].title %></span>
        <span class="info-time"><%= informations[i].date.toDateString() %></span>
      </div>
      <div class="info-panel">
        <%= informations[i].content %>
      </div>
      <span class="info-publisher">
        <%= informations[i].create_t_id %>
      </span>
    </li>
    <% } %>
  </ul>
</div>
