<%- partial('./menu') %>


<table class="user-info be-center box-border">

  <tr>
  <th><div class="title">
    用户名：
  </div></th>
  <td><%=id %></td>
  </tr>

  <tr>
  <th><div class="title">
    身份：
  </div></th>
  <td>家长</td>
  </tr>

  <tr>
  <th><div class="title">
    学生：
  </th>
  <td><%=stu_name %></td>
  </tr>

  <tr>
  <th><div class="title">
    所在班级：
  </div></th>
  <td><%=stu_class %></td>
  </tr>

  <tr>
  <th><div class="title">
    班主任：
  </div></th>
  <td><%=head_t %></td>
  </tr>

</table>
